<ion-header>
    <ion-navbar no-border-bottom color="primary">
        <ion-title>Login</ion-title>
    </ion-navbar>
    <div padding style="background: #f8f8f8;">
        <ion-segment [(ngModel)]="login">
            <ion-segment-button value="custom">
                Custom Login
            </ion-segment-button>
            <ion-segment-button value="remote">
                Remote Login
            </ion-segment-button>
        </ion-segment>
    </div>
</ion-header>

<ion-content> 
    <div [ngSwitch]="login">
        <form *ngSwitchCase="'custom'" [formGroup]="loginform" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" (ngSubmit)="signin(loginform.value)">
            <ion-list>
                <ion-item>
                    <ion-label floating>Email</ion-label>
                    <ion-input type="email" formControlName="email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Password</ion-label>
                    <ion-input type="password" formControlName="password"></ion-input>
                </ion-item>
                <ion-item margin-top>
                    <ion-label item-end>Save Account Password</ion-label>
                    <ion-checkbox color="primary" checked="false"></ion-checkbox>
                </ion-item>
                <div text-center padding-top>
                    <a (click)="forgotPassword(loginform.value.email)">Forgot Password</a>
                </div>
            </ion-list>
            <div padding>
                <button ion-button color="primary" block [disabled]="!loginform.valid" >Sign In</button>
            </div>
            <div class="center" margin-top *ngIf="err">
                 <ion-badge  color="danger">{{err}}</ion-badge>
            </div>
            <div class="center" margin-top *ngIf="isConsignmentExist">
                 <ion-badge  color="danger">Consignment List not Exist</ion-badge>
            </div>
        </form> 
        <div *ngSwitchCase="'remote'">
            <img class="paddingBarCode" src="assets/imgs/br.png" alt=""/>
            <div padding>
                <button ion-button color="primary" block (click)="openBarCode()" >Sign In With Barcode</button>
            </div>
            <div class="center" margin-top *ngIf="barCodeErr">
                 <ion-badge  color="danger">{{barCodeErr}}</ion-badge>
            </div>
        </div>
    </div>
</ion-content>
