<ion-header>
    <ion-navbar color="black" class='relative'>
        <img src="assets/imgs/bst.jpg" alt="" class='headerLogo'/>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form novalidate (ngSubmit)="onSubmit(user)" [formGroup]="user">
          <ion-item>
            <ion-label >Old Password</ion-label>
            <ion-input type="password" value="" formControlName="oldPassword"></ion-input>
        </ion-item>
          <ion-item>
            <ion-label >New Password</ion-label>
            <ion-input type="password" value="" formControlName="password"></ion-input>
        </ion-item>
        <ion-item no-lines *ngIf="( user.get('password').hasError('required') ) && user.get('password').touched">

                  <div class="error" *ngIf="user.get('password').hasError('required') && user.get('password').touched">
             Password is required
        </div>
    </ion-item>
    <ion-item>
        <ion-label >Confirm Password</ion-label>
        <ion-input type="password" value="" formControlName="re_password"></ion-input>
    </ion-item>

    <ion-item no-lines *ngIf="( user.get('re_password').hasError('equalTo') || user.get('re_password').hasError('required') ) && user.get('re_password').touched">
              <div class="error" *ngIf="user.get('re_password').hasError('required') && user.get('re_password').touched">
         Confirm password is required
    </div>
    <div class="error" *ngIf="user.get('re_password').hasError('equalTo') && user.get('re_password').touched">
         Password Mismatch
</div>
</ion-item>
<button ion-button full margin-top color="red" class="radius" [disabled]="user.invalid">Submit</button>
</form>

</ion-content>
