<ion-header>
    <ion-navbar no-border-bottom color="primary">
        <ion-title>Change Password</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form novalidate (ngSubmit)="onSubmit(user)" [formGroup]="user">

          <ion-item>
            <ion-label >Password</ion-label>
            <ion-input type="text" value="" formControlName="password"></ion-input>
        </ion-item>
        <ion-item no-lines *ngIf="( user.get('password').hasError('required') ) && user.get('password').touched">

                  <div class="error" *ngIf="user.get('password').hasError('required') && user.get('password').touched">
             Password is required
        </div>
    </ion-item>
    <ion-item>
        <ion-label >Confirm Password</ion-label>
        <ion-input type="text" value="" formControlName="re_password"></ion-input>
    </ion-item>

    <ion-item no-lines *ngIf="( user.get('re_password').hasError('equalTo') || user.get('re_password').hasError('required') ) && user.get('re_password').touched">
              <div class="error" *ngIf="user.get('re_password').hasError('required') && user.get('re_password').touched">
         Confirm password is required
    </div>
    <div class="error" *ngIf="user.get('re_password').hasError('equalTo') && user.get('re_password').touched">
         Password Mismatch
</div>
</ion-item>
<button ion-button [disabled]="user.invalid">Sign up</button>
</form>

</ion-content>
