<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Home Page
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item *ngIf="consignment && consignment.length >1">
            <ion-label>List</ion-label>
            <ion-select  [(ngModel)]="consignmentList" (ngModelChange)="selectedConsignment()" placeholder="Select">
                <ion-option [value]="list" *ngFor="let list of consignment">{{list.product}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="consignment && consignment.length == 1">
            <ion-label color="textLable" text-left>List</ion-label>
            <ion-label text-right>{{consignment[0].product}}</ion-label>
        </ion-item>
    </ion-list>
    <ion-item>
        <ion-label color="primary">Enter ID</ion-label>
        <ion-input placeholder="ID"></ion-input>
    </ion-item>
</ion-content>
