page-product {
    .heart {
        color: #f00;
        position: absolute;
        right: 1.2em;
        top: 1em;
        font-size: 2em;
    }
    .product-details{
        .product-title {
            color: #D63F53;
            padding: 6px 0px;
        }
        p {
            font-size: 18px;
        }
        .sku {
            color: #179CCB;
        }
        .price {
            color: #4F4F4F;
            margin-top: 0px;
        }
        .stock {
            border-top: 1px solid gray;
            margin: 0px;
            padding: 18px 0px;;
        }
        .in-stock {
            color: #008B22; 
        }
        .out-stock {
            color: #f00; 
        }
        .columnForGrid50{
            -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
        .border{
            border: 1px solid gray;
            border-radius: 6px;
        }
        .radiusLeft{
            border-radius: 4px 0px 0px 4px;
        }
        .radiusRight{
            border-radius: 0px 4px 4px 0px;
        }
        .qty {
            padding: 6px 16%;
            font-size: 19px;
            display: inline-block;
        }
        .qty-grid {
            padding: 5px 0px;
            border-top: 1px solid gray;
            border-bottom: 1px solid gray;
        }
        .quantity {
            font-size: 24px;
            display: inline-block;
            margin-top: 6px;
        }
        .shipping {
            span {
                display: inline-block;
                padding-top: 8px;
                color: #898989;
            }
            .col {
                padding: 0px;
            }
        }
    }
    .product-image-container {
        img.active {
            border: 2px solid #1A99D1;
            width: 100%;
            padding: 8px;
        }
        .product-image-thumb {
            margin-top: 8px;
            padding: 0px;
            .row {
                flex-wrap: nowrap;
                overflow: auto;
            }
            img {
                border: 2px solid #D1D1D1;
            }
        }
    }
    .product-controls {
        text-align: center;
        span {
            color: #898989;
        }
    }
    .product-description {
        margin-top: 1em;
        padding: 1em;
        background: #EAEAEA;
        ul {
            list-style-image: url("../assets/imgs/list.png");
            margin: 0px;
            list-style-position: inside;
            padding-left: 0em;
            li {
                padding: 8px 0px;
            }
        }
    }

}
