page-wish-list {
    .scroll-content{
        background: #f3f3f3;
    }
    .block{
        min-height: 100px;
    }
    .paddTopBot20{
        padding: 20px 0px;
    }
    .paddTopBot10{
        padding: 10px 0px;
    }
    .width{
        width: 97%;
    }
    .verticalAlign{
        vertical-align: middle;
    }
    .checkbox{
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
}
